* {
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

body {
    background: #F3F5F7;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #0E1200;
    max-width: 1920px;
    margin: auto;
}

button {
    background-image: linear-gradient(90deg, #57D2FD 0%, #2CA6F9 100%);
    border-radius: 100px;
    color: #fff;
    width: 180px;
    height: 48px;
    font-size: 18px;
    line-height: 50px;
    display: block;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #FFF;
    height: 80px;
    z-index: 300;
}

header > div {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

header button {
    display: inline-block;
    background-image: linear-gradient(90deg, #57D2FD 0%, #2CA6F9 100%);
    border-radius: 100px;
    height: 40px;
    width: 120px;
    color: #fff;
    font-size: 16px;
    line-height: 17px;
    position: absolute;
    right: 80px;
}

header h1 {
    margin: 0;
    line-height: 53px;
    font-size: 18px;
    color: #000000;
    margin-left: 5px;
}

header img {
    margin-left: 88px;
}

div.banner {
    background: url(../img/get_started_bg.jpg) no-repeat center;
    height: 400px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.banner h2 {
    color: #FFF;
    margin: auto;
    max-width: 500px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}

h2.main-header {
    font-size: 30px;
    max-width: 500px;
    text-align: center;
    line-height: 35px;
    padding: 0;
    margin: 80px auto;
}

div.trial-features {
    margin: 0 auto;
    width: 500px;
    background-color: #FFF;
    padding: 40px;
}

div.trial-features h3 {
    font-weight: bold;
}

div.trial-features ul {
    overflow: visible;
}

div.trial-features ul li {
    overflow: visible;
    margin-top: 10px;
    padding-left: 10px;
}

h2.guide {
    margin: 80px auto;
    max-width: 500px;
    text-align: center;
}

h3.guide {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

div.guide-tour {
    background: url(../img/s2.png) no-repeat center;
    height: 500px;
}

h3.guide.overview {
    margin: 50px auto 30px auto;
}

iframe {
    display: block;
    margin: 0 auto;
}

div.register-info {
    width: 600px;
    margin: 80px auto;
    background-color: #FFF;
    padding: 30px 50px;
}

div.register-info p {
    font-size: 16px;
    text-align: center;
}

div.register-info p span.attention {
    font-weight: bold;
}

span.test-trial {
    text-align: center;
    margin: 80px auto;
    display: block;
}

span.test-trial a {
    color: #000;
}

div.feedback {
    color: #FFF;
    text-align: center;
    padding: 80px 0;
    background-image: linear-gradient(-180deg, #354F67 0%, #2B465F 100%);
}

div.feedback h2 {
    font-size: 30px;
    line-height: 35px;
}


div.feedback h3 {
    font-size: 22px;
    line-height: 27px;
}


div.logo {
    background: #233749;
    padding: 76px 0;
    text-align: center;
}
