/* Ultra HD (1920+) */
@media only screen and ( -webkit-min-device-pixel-ratio: 2 ) and (min-width: 1920px){

       div.strengths-container > div.image.customize {
           background: url('../img/s1@2.jpg') no-repeat top left / 946px 553px;
           width: 946px;
           height: 553px;
       }

       div.strengths-container > div.image.data {
           background-image: none;
           background: url('../img/s2@2.jpg') no-repeat top left / 969px 557px;
           width: 969px;
           height: 557px;
           margin-left: 25px;
       }

       div.strengths-container > div.image.share {
           background-image: none;
           background: url('../img/s3@2.jpg') no-repeat top left / 869px 653px;
           height: 653px;
           width: 869px;
       }

}

/* Desktop (1024 to 1920) */
@media only screen and ( -webkit-min-device-pixel-ratio: 2 ) and (min-width: 1024px) and (max-width: 1919px){

       div.strengths-container > div.image.customize {
           width: 636px;
           height: 373px;
           background-image: none;
           background: url('../img/desktop/s1@2.jpg') no-repeat top left / 636px 373px;
       }

       div.strengths-container > div.image.data {
           background-image: none;
           background: url('../img/desktop/s2@2.jpg') no-repeat top left / 969px 557px;
           width: 969px;
           height: 557px;
           margin-left: 25px;
       }

       div.strengths-container > div.image.share {
           background-image: none;
           background: url('../img/desktop/s3@2.jpg') no-repeat top left / 692px 614px;
           height: 614px;
           width: 692px;
       }

}

/* Mobile (until 1024) */
@media only screen and ( -webkit-min-device-pixel-ratio: 2 ) and (max-width: 1023px) {

    div.strengths-container > div.image.customize {
        background-image: none;
        background: url('../img/mobile/s1@2.jpg')  no-repeat top left / 375px 220px;
    }

    div.strengths-container > div.image.data {
        background-image: none;
        background: url('../img/mobile/s2@2.jpg') no-repeat top left / 355px 315px;
    }

    div.strengths-container > div.image.share {
        position: relative;
        left: 12px;
        background-image: none;
        background: url('../img/mobile/s3@2.jpg') no-repeat top left / 320px 390px;
    }

}
