* {
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

body {
    background: #F3F5F7;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #0E1200;
    max-width: 1920px;
    margin: auto;
}

button {
    background-color: #abc;
    color: #FFF;
    height: 40px;
    cursor: pointer;
    border: none;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #FFF;
    height: 80px;
    z-index: 300;
}

header > div {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

header h1 {
    margin: 0;
    line-height: 53px;
    font-size: 18px;
    color: #000000;
    margin-left: 5px;
}

header img {
    margin-left: 88px;
}

header nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 90px;
    top: 0;
    height: 80px;
}

header nav ol {
    display: inline-block;
    margin: 0;
    list-style-type: none;
    padding: 0;
    line-height: 80px;
    height: 80px;
}

header nav ol li {
    display: inline-block;
    font-weight: bold;
    padding: 0 20px;
}

header nav ol li.active,
header nav ol li:hover {
    background: #EBF7FF;
    cursor: pointer;
    color: #2CA6F9;
}

header nav button {
    display: inline-block;
    background-image: linear-gradient(90deg, #57D2FD 0%, #2CA6F9 100%);
    border-radius: 100px;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 46px;
    font-size: 16px;
    line-height: 17px;
}

div.outer-headline {
    display: none;
}

div.video-player button.play-video, div.outer-headline button.video-player {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: url('../img/icons/Triangle.png') no-repeat center;
    background-color: #FFF;
    margin: 0 auto;
}

div.video-container {
    height: 605px;
    background: url('../img/video_bg.jpg') no-repeat 50% 21%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

div.video-container div {
    text-align: center;
}

div.video-container h2, div.outer-headline h2 {
    margin-top: 0;
    color: #FFF;
    font-size: 50px;
    line-height: 57px;
}

div.video-container div.inner-headline {
    width: 100%;
    background: url(../img/header_shadow.png) no-repeat center 29px;
    padding: 180px 0;
}

div.video-container div.inner-headline button, div.outer-headline button {
    width: 254px;
    height: 48px;
    background-image: linear-gradient(90deg, #57D2FD 0%, #2CA6F9 98%);
    border-radius: 100px;
    color: #fff;
    margin: auto;
    display: block;
    font-size: 18px;
    line-height: 50px;
}

h2.strengths {
    margin: 116px auto;
    text-align: center;
    max-width: 865px;
    font-size: 40px;
    color: #202427;
    line-height: 45px;
    font-weight: 900;
}

div.strengths-container p {
    max-width: 560px;
}

div.strengths-container.image-right {
    text-align: right;
    justify-content: flex-end;
    padding-right: 0;
}

div.strengths-container.image-right p {
    margin-left: auto;
}

div.strengths-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding: 84px 88px;
    border-bottom: 2px solid #E2E4E6;
}

div.strengths-container.last {
    border-bottom: none;
}

div.strengths-container > div.image {
    height: 553px;
    width: 946px;
}

div.strengths-container > div.image.customize {
    background-image: url('../img/s1.png');
    width: 946px;
}

div.strengths-container > div.image.data {
    background-image: url('../img/s2.png');
    width: 969px;
    margin-left: 68px;
}

div.strengths-container > div.image.share {
    background-image: url('../img/s3.png');
    height: 657px;
    width: 869px;
    background-position: right;
}

div.strengths-container > div > * {
    padding-left: 74px;
    margin: 0;
}

div.strengths-container h3 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 18px;
}

div.strengths-container p {
    font-size: 20px;
    color: #0E1200;
    line-height: 30px;
}

div.get-started-today {
    background: url('../img/get_started_bg.jpg') no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 855px;
    position: relative;
}

div.get-started-today h2 {
    color: #FFF;
    font-size: 40px;
    line-height: 45px;
    z-index: 1;
}

div.get-started-today > div {
    height: 519px;
    width: 661px;
    background: url('../img/Black_shadow.png') no-repeat center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.get-started-today button {
    background-image: linear-gradient(90deg, #57D2FD 0%, #2CA6F9 100%);
    border-radius: 100px;
    color: #fff;
    width: 180px;
    height: 48px;
    font-size: 18px;
    line-height: 50px;
    z-index: 1;
}

ol.info-sheets {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-180deg, #354F67 0%, #2B465F 100%);
    padding: 136px 0;
}

ol.info-sheets li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 234px;
    padding: 0 36px;
    width: 364px;
    border-right: 1px solid #fff;
    overflow: hidden;
}

ol.info-sheets li:last-child {
    border-right: none;
}

ol.info-sheets li h2 {
    margin: 0;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 24px;
}

ol.info-sheets li.examples h2 {
    width: 100%;
}

ol.info-sheets li button {
    height: 40px;
    width: 186px;
    font-size: 16px;
    color: #2EA8F9;
    background: url('../img/icons/Download_Icon.png') no-repeat 23px;
    background-color: #FFFFFF;
    border-radius: 100px;
    padding-left: 18px;
}

ol.info-sheets li button:hover {
    background-color: #F3F5F7;
}

ol.info-sheets p {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    margin: 0;
    width: 100%;
}

div.reasons-why {
    padding: 140px 80px 150px 80px;
}

div.reasons-why > h2 {
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #202427;
    line-height: 45px;
    text-align: center;
    margin-bottom: 126px;
}

div.reasons-why > h2 > span {
    display: block;
}

div.inspire {
    color: #FFF;
    text-align: center;
    padding: 80px 0;
    background-image: linear-gradient(-180deg, #354F67 0%, #2B465F 100%);
}

div.inspire h2 {
    font-size: 30px;
    line-height: 37px;
    margin-top: 0;
    margin-bottom: 32px;
}

div.inspire p {
    font-size: 20px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 40px;
}

div.inspire button {
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background-color: #FFF;
    padding: 0;
    border: none;
    font-size: 16px;
    color: #2EA8F9;
    line-height: 17px;
}

div.inspire button.hero {
    background-image: linear-gradient(90deg, #57D2FD 0%, #2CA6F9 100%);
    color: #FFF;
    margin-left: 64px;
}

footer {
    background: #233749;
    padding: 76px 0;
    text-align: center;
}

div.strengths-container.image-right h3,
div.strengths-container.image-right p {
    padding-left: 0;
}

footer > * {
    display: block;
}

footer span.headline {
    font-size: 30px;
    color: #78848E;
    line-height: 37px;
    font-weight: bold;
}

footer span.fow {
    font-size: 16px;
    color: #78848E;
    line-height: 23px;
}

footer img {
    width: auto;
    height: auto;
    display: inline;
    margin: 34px 0;
}

footer span.terms {
    color: #B6BCC2;
    margin-top: 32px;
}

footer a {
    font-size: 16px;
    color: #B6BCC2;
    line-height: 23px;
}

div.carousel div.item {
    width: 360px;
}

div.carousel div.item > * {
    display: block;
}

div.carousel div.item span {
    height: 234px;
    width: 234px;
    background: #203140;
    border: 1px solid #979797;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.carousel div.item span img {
    height: 180px;
    width: 180px;
}

span.short {
    display: none;
}

div.carousel div.item p {
    font-size: 16px;
    line-height: 25px;
    width: 75%;
    max-width: 360px;
    margin: auto;
    text-align: center;
}

div.carousel div.item h3 {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 25px auto;
}

div.carousel .slick-dots li button:before {
    font-size: 16px;
}

div.carousel .slick-dots {
    bottom: -74px;
}

div.carousel .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 4px;
}

div.carousel .slick-dots li.slick-active button:before {
    color: #2EA8F9;
    font-size: 24px;
    text-align: center;
    left: -1px;
    top: 1px;
}

div.carousel .slick-prev.slick-arrow {
    background: url('../img/icons/Back_default.png') no-repeat center;
    background-color: #D4DCE2;
}

div.carousel .slick-prev.slick-arrow:hover {
    background: url('../img/icons/Back_active.png') no-repeat center;
    background-color: #2EA8F9;
}

div.carousel .slick-arrow {
    height: 60px;
    width: 66px;
    cursor: pointer;
}

div.reasons-why .slick-prev {
    left: -4px;
}

div.reasons-why .slick-next {
    right: -4px;
}

div.carousel .slick-next.slick-arrow {
    background: url('../img/icons/Forward_default.png') no-repeat center;
    background-color: #D4DCE2;
}

div.carousel .slick-next.slick-arrow:hover {
    background: url('../img/icons/Forward_active.png') no-repeat center;
    background-color: #2EA8F9;
}

div.carousel .slick-prev:before, div.carousel .slick-next:before{
    content: '';
}

div.carousel .slick-list {
    margin: 0 100px;
}

ul.slick-dots {
    overflow: visible;
}

ul.slick-dots > * {
    overflow: visible;
}

.slick-dotted.slick-slider {
    overflow: visible;
}

button.mobile-play-video {
    display: none;
}

div.video-player-container iframe {
    margin: 0 auto;
    display: block;
}

button.video-player {
    height: 488px;
    width: 866px;
    background: url('../img/video_player.jpg') no-repeat center top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

div.video-player-container {
    border-bottom: 2px solid #E2E4E6;
    padding-bottom: 116px;
    position: relative;
}

span.play-video {
    font-size: 20px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: url('../img/icons/Triangle.png') no-repeat center;
    background-color: #FFF;
    margin: 0 auto;
    display: block;
}

span.play-button-text {
    font-size: 20px;
    color: #FFF;
    margin-top: 10px;
    display: block;
}

div.strengths-container.first {
    padding: 116px 88px;
}

button.video-player div.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(28,46,61,0.6);
    z-index: 1;
}

button.video-player:hover div.overlay {
    background-color: transparent;
}

div.video-player-container span {
    z-index: 100;
}

button.video-player:hover span.play-button-text {
    text-shadow: 0 2px 4px rgba(0,0,0,0.7);
}

button.video-player:hover span.play-video {
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
}
