/* @media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
       only screen and (    min--moz-device-pixel-ratio: 1.3 ),
       only screen and (      -o-min-device-pixel-ratio: 2.6/2 ),
       only screen and (         min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 124.8dpi ),
       only screen and ( min-resolution: 1.3dppx ) {

       div.strengths-container > div.image.customize {
           width: 375px;
           height: 220px;
           background-image: none;
           background: url('../img/mobile/s1@2.jpg') no-repeat top left / 375px 220px;
       }
}
*/
@media only screen and ( -webkit-min-device-pixel-ratio: 2 ) and (min-width: 1920px){

       div.strengths-container > div.image.customize {
           background: url('../img/s1@2.jpg') no-repeat top left / 946px 553px;
           width: 946px;
           height: 553px;
       }

}


@media only screen and ( -webkit-min-device-pixel-ratio: 2 ) and (min-width: 1024px) and (max-width: 1760px){

       div.strengths-container > div.image.customize {
           width: 636px;
           height: 373px;
           background-image: none;
           background: url('../img/desktop/s1@2.jpg') no-repeat top left / 636px 373px;
       }

}
