@media (min-width: 1024px) and (max-width: 1280px) {

    header img {
        margin-left: 40px;
    }

    header nav {
        right: 40px;
    }

    h2.strengths {
        margin: 116px auto;
        font-size: 30px;
        line-height: 37px;
        max-width: 648px;
    }

    div.strengths-container h3 {
        font-size: 30px;
        line-height: 37px;
    }

    div.strengths-container p {
        font-size: 16px;
        line-height: 21px;
    }

    div.strengths-container {
        padding: 84px 40px;
    }

    div.strengths-container.image-right {
        padding-bottom: 60px;
        padding-right: 0;
    }

    div.strengths-container > div.image.customize {
        width: 636px;
        height: 373px;
        background-image: url('../img/desktop/s1.png');
        flex-basis: 636px;
        flex-shrink: 0;
    }

    div.strengths-container > div.image.data {
        background-image: url('../img/desktop/s2.png');
        width: 969px;
        height: 557px;
        margin-left: 25px;
    }

    div.strengths-container > div.image.share {
        background-image: url('../img/desktop/s3.png');
        height: 614px;
        width: 692px;
        flex-basis: 692px;
        flex-shrink: 0;
    }

    div.strengths-container.last {
        padding-left: 0;
        padding-right: 0;
    }

    div.strengths-container.last > div:last-child {
        margin: auto;
        padding: 0 20px;
        position: relative;
        top: -20px;
    }

    div.strengths-container.last > div > * {
        padding-left: 0;
    }

    div.get-started-today {
        background: url('../img/desktop/get-started.jpg') no-repeat;
        height: 742px;
    }

    div.get-started-today h2 {
        font-size: 30px;
        line-height: 35px;
    }

    div.get-started-today button {
        width: 152px;
        font-size: 18px;
        line-height: 42px;
        height: 40px;
    }

    ol.info-sheets li h2 {
        font-size: 30px;
        line-height: 35px;
    }

    ol.info-sheets p {
        font-size: 16px;
        line-height: 21px;
    }

    div.reasons-why > h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 108px;
    }

    div.reasons-why {
        padding: 118px 40px 113px 40px;
    }

    div.carousel div.item span {
        height: 182px;
        width: 182px;
    }

    div.carousel div.item span img {
        height: 138px;
        width: 138px;
    }

    div.carousel div.item h3 {
        margin-bottom: 22px;
    }

    div.carousel .slick-dots {
        bottom: -60px;
    }

    div.inspire h2 {
        font-size: 25px;
        line-height: 30px;
    }

    div.inspire p {
        margin-bottom: 36px;
        font-size: 16px;
        line-height: 21px;
    }

    footer span.headline {
        font-size: 25px;
        line-height: 30px;
    }

    footer img {
        margin: 36px 0;
    }

    footer span.terms {
        margin-top: 72px;
    }

 }

@media (max-width: 1760px) {
    div.strengths-container.first{
        padding-left: 0;
    }

    div.strengths-container > div.image.customize {
        width: 636px;
        height: 373px;
        background-image: url('../img/desktop/s1.png');
    }

    div.strengths-container.last {
        padding-left: 0;
    }
}
